<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->


<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <header>
            <h1>Iframes</h1>
        </header>

        <aside>
            <h1>Iframes</h1>
            <p>Uso de Iframes dentro de nuestro sitio web</p>
        </aside>

        <section>
            <h2>Iframes</h2>

            <article>
                <h3>Sitio Web Interno</h3>
                <iframe src="http://ufidelitas.ac.cr" height="400" width="1200">
                </iframe>
            </article>

            <article>
                <h3>YouTube</h3>
                <iframe width="1236" height="695"
                        src="https://www.youtube.com/embed/y5NSKfLLlYA"
                        title="¿POCO en ESPAÑOL - Juega y Busca en la Piscina [12 min] CARICATURAS"
                        frameborder="0" allowfullscreen>
                </iframe>
            </article>

            <article>
                <h3>Ubicanos</h3>
                <iframe src="https://www.google.com/maps/place/Provincia+de+Cartago,+Cartago,+Dulce+Nombre/@9.8343493,-83.8949798,15z/data=!4m6!3m5!1s0x8fa0e122ec714bc1:0x64feff9bc82d23ba!8m2!3d9.8456322!4d-83.9095726!16s%2Fg%2F1tcvqb04?entry=ttu&g_ep=EgoyMDI2MDIwNC4wIKXMDSoKLDEwMDc5MjA2OUgBUAM%3D"          
                width="1200" height="400" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
                
            </article>

        </section>

        <footer>
            Todos los Derechos Reservados TechShop 2025 &COPY;
        </footer>
    </body>
</html>

