<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Mi primera página</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

<body>

    <h1>Bienvenido a mi sitio web</h1>
    <h2>Subtítulo importante</h2>
    <h3>Otro encabezado</h3>

    <p>Este es un párrafo normal.</p>

    <b>Texto en negrita</b><br>
    <i>Texto en cursiva</i><br>
    <u>Texto subrayado</u>

</body>


</html>
